{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}
	<h1>
		{{song.title}} by 
		<a href="{{url('song', {id: song.artist_id})}}">
			{{song.artist_name}}
		</a>
	</h1>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<a href="{{url('add_fav',{id:song.id,name:song.artist_name~': '~song.title})}}">Add Fav</a>
	{% endif %}
	{{dump(song)}}
{% endblock %}