{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}

	<h1>Algorithm Test</h1>

	{% for user in users %}
		<h2>{{user.username}}</h2>
		{% for song in user.favsongs %}
			<a href="{{url('song',{id:song.songId})}}">{{song.name}}</a><br/>
		{% endfor %}
		{% if rank[user.id] is defined %}
			{% for name,rank in rank[user.id] %}
				RANK: {{name}}:{{rank}}<br/>
			{% endfor %}
		{% endif %}
		{% if match[user.id] is defined %}
			{% for name,score in match[user.id] %}
				MATCH: {{name}}:{{score}}<br/>
			{% endfor %}
		{% endif %}		
	{% endfor %}

{% endblock %}