{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}

	<h2>{{user.username}} (GPa={{user.genrePoints}})</h2>
	{% for song in user.favsongs %}
		<a href="{{url('song',{id:song.songId})}}">{{song.name}}</a><br/>
	{% endfor %}

	{% for match in matches %}
		<strong style="color:#080">MATCH:</strong>
		<strong>{{match.score_per|number_format}}%</strong>
		<a href="{{url('user',{username:match.user.username})}}">{{match.user.username}}</a>
		<small>
			(S={{match.score}} 
			Sa={{match.score_per_a|number_format}}% 
			Sb={{match.score_per_b|number_format}}% 
			GPb={{match.user.genrePoints}})
		</small>
		<br/>
	{% endfor %}

	{% for genra,rank in user.genreRankings %}
		<strong style="color:#800">RANK:</strong> {{genra}}: {{rank}}<br/>
	{% endfor %}

{% endblock %}		